body {
	background: aquamarine;
	margin: 0;
}

.tiles {
	margin: 48px auto;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	gap: 16px;
	box-sizing: border-box;
}

.tile {
	height: 150px;
	background: #111111;
	border: 5px solid #444444;
	cursor: pointer;
}
